*/bin/
.DS_Store
*/target/
target/
.settings/
*/.classpath
*/.project
*.iml
.classpath
.idea
.project
/data/
/test-output/
/servlet-map/data/
transport.log
*pom.xml.versionsBackup
/standalone-jetty/dist/public/oskari
/standalone-jetty/dist/public/Oskari
/standalone-jetty/dist/*.jar
/bin/
/service-spatineo-monitor/nbproject/
/control-base/nbproject
*/nbactions.xml
*/nb-configuration.xml

/service-search-nls/nbproject/
.metadata