<?xml version="1.0" encoding="UTF-8"?>
<webapp>
    <filter>
        <filter-name>authenticationFilter</filter-name>
        <filter-class>fi.nls.oskari.map.servlet.JaasAuthenticationFilter</filter-class>
    </filter>

    <servlet>
        <servlet-name>default</servlet-name>
        <init-param>
            <param-name>useFileMappedBuffer</param-name>
            <param-value>false</param-value>
        </init-param>
    </servlet>

    <servlet>
        <servlet-name>mapFullServlet</servlet-name>
        <servlet-class>fi.nls.oskari.map.servlet.MapFullServlet</servlet-class>
        <init-param>
            <param-name>version</param-name>
            <param-value>${oskari.client.version}</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/Oskari/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>mapFullServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <filter-mapping>
        <filter-name>authenticationFilter</filter-name>
        <servlet-name>mapFullServlet</servlet-name>
    </filter-mapping>

    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>OskariRealm</realm-name>
        <form-login-config>
            <form-login-page>/</form-login-page>
            <form-error-page>/?loginState=failed</form-error-page>
        </form-login-config>
    </login-config>
</webapp>