<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="fi.nls.oskari.myplaces.MyPlaceMapper">

    <resultMap id="CategoryResult" type="MyPlaceCategory">
	    <result property="id" column="id" />
        <result property="uuid" column="uuid" />
        <result property="publisher_name" column="publisher_name" />
        <result property="name" column="category_name" />
        <result property="options" column="options" />
    </resultMap>

    <resultMap id="PlaceResult" type="MyPlace">
        <result property="id" column="id" />
        <result property="uuid" column="uuid" />
        <result property="categoryId" column="category_id" />
        <result property="name" column="name" />
        <result property="desc" column="place_desc" />
        <result property="link" column="link" />
        <result property="imageUrl" column="image_url" />
        <result property="attentionText" column="attention_text" />
    </resultMap>

    <select id="findPlace"
            resultMap="PlaceResult">
        select
            id,
            uuid,
            category_id,
            name,
            place_desc,
            link,
            image_url,
            attention_text
        from
            my_places
        where id = #{id}
    </select>

    <select id="find"
        resultMap="CategoryResult">
        select 
            id, 
            category_name,
            uuid,
            publisher_name,
            options
	    from 
	        categories 
	    where id = #{id}
    </select>
    
     <select id="findByIds"
             parameterType="list"
             resultMap="CategoryResult">
        select 
            id, 
            category_name,
            uuid,
            publisher_name,
            options
        from 
            categories 
        where id in
		  <foreach item="item" collection="list" open="(" close=")" separator=",">
              #{item}
		  </foreach>
    </select>

    <select id="findAll" 
        resultMap="CategoryResult">
        select 
            id, 
            category_name,
            uuid,
            publisher_name,
            options
        from 
            categories
         where publisher_name is not null
    </select>
</mapper>