<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="fi.nls.oskari.map.view.AppSetupMapper">

    <resultMap id="viewWithConf" type="View">
        <result property="id" column="id" />
        <result property="uuid" column="uuid" />
        <result property="name" column="name" />
        <result property="description" column="description" />
        <result property="type" column="type" />
        <result property="application" column="application" />
        <result property="page" column="page" />
        <result property="pubDomain" column="domain" />
        <result property="lang" column="lang" />
        <result property="creator" column="creator" />
        <result property="onlyForUuId" column="only_uuid" />
        <result property="isPublic" column="is_public" />
        <result property="isDefault" column="is_default" />
        <result property="metadata" column="metadata" jdbcType="VARCHAR" javaType="org.json.JSONObject" />
        <result property="created" column="created" jdbcType="TIMESTAMP" javaType="java.time.OffsetDateTime" />
        <collection property="bundles" column="id" select="getBundlesByViewId" fetchType="eager" />
    </resultMap>

    <resultMap id="bundle" type="Bundle">
        <result property="bundleId" column="bundle_id" />
        <result property="seqNo" column="seqno" />
        <result property="viewId" column="appsetup_id" />
        <result property="state" column="state" />
        <result property="config" column="config" />
        <result property="name" column="name" />
        <result property="bundleinstance" column="bundleinstance" />
    </resultMap>

    <select id="getBundlesByViewId"
            parameterType="java.lang.Long"
            resultMap="bundle">
        SELECT   s.appsetup_id, s.bundle_id, s.seqno, s.state, s.config, s.bundleinstance, b.name
        FROM   oskari_appsetup_bundles s, oskari_bundle b
        WHERE   appsetup_id = #{view_id} AND s.bundle_id = b.id
        ORDER BY s.seqno ASC
    </select>

</mapper>