<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
 
  <servlet>
    <servlet-name>mapFullServlet</servlet-name>
    <servlet-class>fi.nls.oskari.map.servlet.MapFullServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>mapFullServlet</servlet-name>
    <url-pattern>/ajax/*</url-pattern>
  </servlet-mapping>
  
  <resource-ref>
    <res-ref-name>jdbc/OskariPool</res-ref-name>
    <jndi-name>jdbc/OskariPool</jndi-name>
  </resource-ref>

</web-app>    